/*div{
display: inline-block;
width: 25%;
padding: 23.75px;
overflow: hidden;
height: 50px;
background-color: hsla(0, 59%, 41%, 0.837);
opacity: 0.9;
float: left; 
margin-left: 1%;

}

.mo{

    color: blue;
    font-size: 40px ;
    padding: 10px;
    background-color: aqua;
    margin: 10px;
    width: 70%;
    margin-left: 15%;
    border: 10px;
    border-color: black red; 
    border-style: double;
    border-radius: 10px;
    outline: 10px solid blue;
    position: absolute;
    top: 0;


}
.salah{
    color:brown;
    font-size: 30px;
    background-color: blueviolet;
    background-image: url("../imgs/1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding: 10px;
    margin: 10px;
   visibility: ;

}
.maka{
  background-color: antiquewhite;
   border-left-color: rgb(241, 4, 4);
   border-left-style: solid;
   width: 400px;
  padding: 10px;
   border-width: 5px;

}
.mak{
    background-color: antiquewhite;
   border-color: blue green;
   border-left-style: solid;
   width: 400px;
   padding: 10px;

   visibility: hidden;
    
}
.ma{
    background-color: antiquewhite;
    border-left-color: rgb(47, 203, 47) ;
    border-left-style: solid;
    width: 400px;
    padding: 10px;
 
}
.one{
    padding: 10px;
   
    color:black;
    margin: 10px 0;
    background-color:red;
    
    text-transform: uppercase;
    width: 100px;
    
   
   

}
.two{
    padding: 10px;
    
    color: black;
    margin: 10px 0;
    background-color: red;
    width: 255px;
    text-transform: uppercase;
    
}
.three{
    padding: 10px;
    
    color:black;
    margin: 10px 0;
    background-color: red;
width: 310px;
    text-transform: uppercase;
    font-size: normal; 
    font-style: italic; 
    cursor:pointer ; 

    

}
.four{
    padding: 10px;
   
    color: black;
    margin: 10px 0;
    background-color: red;
   
    text-shadow: 1px 0 1px red ;
   
    direction: ltr;
    width: auto;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}
div .child .title{
    color: red;

}
span.title{
    color: blue;
    font-family: fantasy;
}
div.title{
    color:blue;
    text-shadow:2px 0 red ;
    font-family: Arial, Helvetica, sans-serif ;
    
}
.perant{
    text-align: center;
    background-color: antiquewhite;
    font-weight: bold;
}
.child1 p{
    background-color: antiquewhite;
    display: inline-block;
    text-align: center;
    padding-top: 2px;
    width: 33.33%;
    font-weight: bold;
    border-spacing: 1px;
    
}

.child2 p{
    background-color: antiquewhite;
    display: inline-block;
    text-align: center;
    padding-top: 2px;
    width: 50%;
    font-weight: bold;
}



.child3 p{
    background-color: antiquewhite;
    display: inline-block;
    text-align: center;
    padding-top: 2px;
    width: 25%;
    font-weight: bold;
}
p{
    border-spacing: 10px ;
}
div {
margin: 20px auto;
width: 300px;
font-weight: bold;
font-size: 1rem;
padding: 20px;
background-color: bisque;
color: black;

}

.one1{
    opacity: 0.5;
    
    
}
.two2{
    opacity: 0.1;
}*/
table{
    text-align: center;
    width: 700px;
    padding: auto;
    margin: auto;
}
th{
    text-align: center;
    width:auto ;
    background-color: black;
    color: white;
    margin: auto;
}
.i{
    
    margin: auto;
}
tr{
    text-align: center;
    background-color: rgb(243, 243, 243);
}
.n{
    background-color: rgb(31, 233, 230);
    padding: 5px;
    margin: 1px;
    border-radius: 0;
    border: 2px;
    word-spacing: 2px;
    font-size: 8px;
    width: 18px;
    color: white;
    cursor:alias;
}
.m{
    background-color: rgb(255, 0, 149);
    padding: 5px;
    margin: 3px;
    border-radius: 0px;
    border: 20px;
    box-sizing: border-box;
    word-spacing: 2px;
    font-size: 8px;
    color: white;
    cursor:grab;

}
